$theme-color:   #30444f ;
$primary-color: #5b8291;
$secondary-color: #98dad8;
$text-color-inverse: #ebecee;
$text-color: #ebecee;
$navbar-shallow-color: #676767;
$menu-mobile-background-color: #161616;