@import 'nav';
@import 'variables';
@import 'main';
@import 'footer';
@import 'contact';
@import 'alquileres';

*{  
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    font-family:  'roboto',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

body {
    background-color: $navbar-shallow-color;
    max-width: 100%;
}